custom_color_contrast 0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color #1d2021
page_separator_width 10
custom_background_color #32302F
custom_text_color #A0927E
search_highlight_color #7ec16e
status_bar_color #427b58
status_bar_text_color #fbf1c7

# The color with which the screen is cleared before rendering the pdf (this is the background color of the application and not the PDF file)
background_color    0.97 0.97 0.97
dark_mode_background_color  0.97 0.97 0.97

# Highlight color when text is selected using mouse
text_highlight_color    0.847 0.651 0.341

startup_commands toggle_statusbar;toggle_dark_mode;toggle_custom_color

